$AppBlue: #00bcd4;
$HeaderBlue: #00dada;
$BackgroundGrey: #f0f0f0;

.dashboard {
  height: 100%;
}
.dashboard-element {
  height: calc(100vh - 26rem);
  width: 30%;
  display: inline-block;
  overflow-y: auto;
  margin: 1vw;
  font-size: 1.6rem;
  > div {
    width: 100%;
    height: 100%;
    > a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      background-color: $AppBlue;
    }
    &:hover {
      > a {
        background-color: #fff;
        color: #000;
      }
    }
  }
}

@media (max-width: 37.5rem){
  .dashboard{
    flex-direction: column;
  }
  .dashboard-element {
    width: 80%;
  }
}

.footer-styles {
  width: 100vw;
  position: fixed;
  height: 5vh;
  display: flex;
  justify-content: center;
  background-color: $AppBlue !important; // material-ui
  align-items: center;
  bottom: 1px;
  color: #fff !important; // material-ui
  z-index: 100;
  font-size: 0.7rem;
}

.content-styles {
  height: calc(100vh - 98px);
  overflow-y: auto;
  .content-box {
    margin: 0 1rem;
    width: calc(100vw - 290px); //256 because material-ui side nav width
    height: calc(100vh - 6.1rem) !important;
    float: right;
    &-history {
      margin: 0 auto;
      width: calc(100vw - 290px);
      height: calc(100vh - 6.1rem) !important;
    }
    &-header {
      background-color: $HeaderBlue !important; //Material-ui
    }
    &-fixed-header {
      overflow-y: auto;
      background-color: $BackgroundGrey !important; //Material-ui
      height: calc(100vh - 9.7rem) !important;
    }
  }
  .current-menu-view {
    margin: 0 1rem;
    &-header {
      background-color: $HeaderBlue !important; //Material-ui
    }
    &-fixed-header {
      flex-direction: column;
      justify-content: inherit;
      overflow-y: auto;
      background-color: $BackgroundGrey !important; //Material-ui
      height: calc(100vh - 9.7rem) !important;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav {
  height: calc(100vh - 6.1rem) !important; //Material-ui
  margin-top: 4rem;
  background-color: $BackgroundGrey !important; //Material-ui
  &-header {
    background-color: $HeaderBlue !important; //Material-ui
    padding: 0 0.5rem 0 1.5rem !important; //material-ui
  }
}

.dish-item {
  margin: 1rem;
  width: 90%;
  &-img {
    max-width: 10rem;
    max-height: 10rem;
    float: left;
    margin: 1rem;
  }
  &-title {
    padding: 1rem 1rem 0 0 !important; //material-ui
    display: inline-block;
  }
  ul {
    list-style: none;
  }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn-styles {
  float: right;
  margin: 1rem !important; //material-ui
}
