.dashboard {
  height: 100%; }

.dashboard-element {
  height: calc(100vh - 26rem);
  width: 30%;
  display: inline-block;
  overflow-y: auto;
  margin: 1vw;
  font-size: 1.6rem; }
  .dashboard-element > div {
    width: 100%;
    height: 100%; }
    .dashboard-element > div > a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      background-color: #00bcd4; }
    .dashboard-element > div:hover > a {
      background-color: #fff;
      color: #000; }

@media (max-width: 37.5rem) {
  .dashboard {
    flex-direction: column; }

  .dashboard-element {
    width: 80%; } }
.footer-styles {
  width: 100vw;
  position: fixed;
  height: 5vh;
  display: flex;
  justify-content: center;
  background-color: #00bcd4 !important;
  align-items: center;
  bottom: 1px;
  color: #fff !important;
  z-index: 100;
  font-size: 0.7rem; }

.content-styles {
  height: calc(100vh - 98px);
  overflow-y: auto; }
  .content-styles .content-box {
    margin: 0 1rem;
    width: calc(100vw - 290px);
    height: calc(100vh - 6.1rem) !important;
    float: right; }
    .content-styles .content-box-history {
      margin: 0 auto;
      width: calc(100vw - 290px);
      height: calc(100vh - 6.1rem) !important; }
    .content-styles .content-box-header {
      background-color: #00dada !important; }
    .content-styles .content-box-fixed-header {
      overflow-y: auto;
      background-color: #f0f0f0 !important;
      height: calc(100vh - 9.7rem) !important; }
  .content-styles .current-menu-view {
    margin: 0 1rem; }
    .content-styles .current-menu-view-header {
      background-color: #00dada !important; }
    .content-styles .current-menu-view-fixed-header {
      flex-direction: column;
      justify-content: inherit;
      overflow-y: auto;
      background-color: #f0f0f0 !important;
      height: calc(100vh - 9.7rem) !important; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.sidenav {
  height: calc(100vh - 6.1rem) !important;
  margin-top: 4rem;
  background-color: #f0f0f0 !important; }
  .sidenav-header {
    background-color: #00dada !important;
    padding: 0 0.5rem 0 1.5rem !important; }

.dish-item {
  margin: 1rem;
  width: 90%; }
  .dish-item-img {
    max-width: 10rem;
    max-height: 10rem;
    float: left;
    margin: 1rem; }
  .dish-item-title {
    padding: 1rem 1rem 0 0 !important;
    display: inline-block; }
  .dish-item ul {
    list-style: none; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.btn-styles {
  float: right;
  margin: 1rem !important; }

/*# sourceMappingURL=App.css.map */
